.gs-share {
    padding-top: 20px;
}

.gs-share-form {
    font-size: 12px;
}

.gs-share-form input[type="checkbox"] {
    display: inline;
    vertical-align: middle;
}

.gs-share input[type="submit"] {
    display: block;
    margin-top: 8px;
    color: black;
    background-color: white;
    border-color: #8a8484;
    border-style: double;
    border-width: 1px;
    font-size: 14px;

}

.gs-share input[type="submit"]:hover {
    cursor: pointer;
    border-color: black;
}
